In [8]:
import pandas as pd
from sqlalchemy import create_engine

In [9]:
csv_file = "../cleaned_data/birds_2003_to_2013.csv"
bird_data_df = pd.read_csv(csv_file)
bird_data_df.head()

,Species,Common_name,Scientific_name,location_Name,Date,LAT,LNG,Time
0,rocpig,Rock Pigeon,Columba livia,Columbia,2003-01-01,38.036320,-120.40103,15:00
1,moudov,Mourning Dove,Zenaida macroura,Columbia,2003-01-01,38.036320,-120.40103,15:00
2,annhum,Anna's Hummingbird,Calypte anna,Columbia,2003-01-01,38.036320,-120.40103,15:00
3,y00475,American Coot,Fulica americana,Woodbridge Ecological Reserve (Isenberg Crane ...,2003-01-01,38.157692,-121.44374,15:00
4,sancra,Sandhill Crane,Antigone canadensis,Woodbridge Ecological Reserve (Isenberg Crane ...,2003-01-01,38.157692,-121.44374,15:00

In [10]:
import getpass

In [11]:
pw = getpass.getpass()

 ········

In [12]:
rds_connection_string = "@localhost:5432/sighting_db"
engine = create_engine(f'postgresql://postgres:{pw}{rds_connection_string}')
engine

Engine(postgresql://postgres:***@localhost:5432/sighting_db)

In [14]:
bird_data_df.to_sql(name='bird_data', con=engine, if_exists='append', index=False)