In [28]:
import pymongo
import pandas as pd
import json

In [29]:
#read in ufo data
cali_ufo = pd.read_csv('cleaned_data/cali_ufo.csv')

In [3]:
cali_ufo.head()

,datetime,city,state,country,shape,latitude,longitude,date,year
0,2003-10-10 12:00:00,alhambra,ca,us,oval,34.095278,-118.126111,2003-10-10,2003
1,2004-10-10 15:00:00,berkeley,ca,us,unknown,37.871667,-122.271667,2004-10-10,2004
2,2005-10-10 14:45:00,los angeles,ca,us,egg,34.052222,-118.242778,2005-10-10,2005
3,2006-10-10 05:00:00,san francisco,ca,us,triangle,37.775000,-122.418333,2006-10-10,2006
4,2007-10-10 06:00:00,indio,ca,us,oval,33.720556,-116.214722,2007-10-10,2007

In [30]:
# read in bird data
bird_df = pd.read_csv('cleaned_data/totalBIRD.zip')

In [31]:
# create a mongo connection
conn = "mongodb://localhost:27017"
client = pymongo.MongoClient(conn)

In [32]:
# create database

db = client.sightingDB

In [26]:
# create ufo collection

ufo_sightings = db.ufo_sightings
post = json.loads(cali_ufo.to_json(orient='records'))
ufo_sightings.insert_many(post)

In [33]:
# create bird collection

bird_sightings = db.bird_sightings
post = json.loads(bird_df.to_json(orient='records'))
bird_sightings.insert_many(post)

In [27]:
client.close()