In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
csv_file = "../cleaned_data/totalBIRD.zip"
bird_data_df = pd.read_csv(csv_file, header=None,)

C:\Users\Hao\anaconda3\envs\dev\lib\site-packages\IPython\core\interactiveshell.py:3166: DtypeWarning: Columns (5,6) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
bird_data_df

,0,1,2,3,4,5,6,7
0,Species,Common_name,Scientific_name,location_Name,Date,LAT,LNG,Time
1,rocpig,Rock Pigeon,Columba livia,Columbia,2003-01-01,38.03632,-120.40103,15:00
2,moudov,Mourning Dove,Zenaida macroura,Columbia,2003-01-01,38.03632,-120.40103,15:00
3,annhum,Anna's Hummingbird,Calypte anna,Columbia,2003-01-01,38.03632,-120.40103,15:00
4,y00475,American Coot,Fulica americana,Woodbridge Ecological Reserve (Isenberg Crane ...,2003-01-01,38.1576924,-121.44374009999999,15:00
...,...,...,...,...,...,...,...,...
987636,pagplo,Pacific Golden-Plover,Pluvialis fulva,Point Reyes National Seashore,2013-12-31,38.043335,-122.802519,NaN
987637,issjay,Island Scrub-Jay,Aphelocoma insularis,Santa Cruz Island / Limuw (SBA Co.),2013-12-31,34.005339,-119.773813,NaN
987638,brnthr,Brown Thrasher,Toxostoma rufum,Pacific Grove--Bayview Ave @ Cedar vicinity,2013-12-31,36.624783,-121.923247,NaN
987639,crithr,Crissal Thrasher,Toxostoma crissale,Shoshone-Tecopa Area,2013-12-31,35.8663,-116.2712,NaN
987640,robgro,Rose-breasted Grosbeak,Pheucticus ludovicianus,Pacific Grove--Bayview Ave @ Cedar vicinity,2013-12-31,36.624783,-121.923247,NaN

In [5]:
import getpass

In [6]:
pw = getpass.getpass()

 ········

In [24]:
rds_connection_string = "@localhost:5432/sighting_db"
engine = create_engine(f'postgresql://postgres:{pw}{rds_connection_string}')
engine

Engine(postgresql://postgres:***@localhost:5432/sighting_db)

In [25]:
bird_data_df.to_sql(name='bird_data', con=engine, if_exists='append', index=False)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "0" of relation "bird_data" does not exist
LINE 1: INSERT INTO bird_data ("0", "1", "2", "3", "4", "5", "6", "7...
                               ^

[SQL: INSERT INTO bird_data ("0", "1", "2", "3", "4", "5", "6", "7") VALUES (%(0)s, %(1)s, %(2)s, %(3)s, %(4)s, %(5)s, %(6)s, %(7)s)]
[parameters: ({'0': 'Species', '1': 'Common_name', '2': 'Scientific_name', '3': 'location_Name', '4': 'Date', '5': 'LAT', '6': 'LNG', '7': 'Time'}, {'0': 'rocpig', '1': 'Rock Pigeon', '2': 'Columba livia', '3': 'Columbia', '4': '2003-01-01', '5': '38.03632', '6': '-120.40103', '7': '15:00'}, {'0': 'moudov', '1': 'Mourning Dove', '2': 'Zenaida macroura', '3': 'Columbia', '4': '2003-01-01', '5': '38.03632', '6': '-120.40103', '7': '15:00'}, {'0': 'annhum', '1': "Anna's Hummingbird", '2': 'Calypte anna', '3': 'Columbia', '4': '2003-01-01', '5': '38.03632', '6': '-120.40103', '7': '15:00'}, {'0': 'y00475', '1': 'American Coot', '2': 'Fulica americana', '3': 'Woodbridge Ecological Reserve (Isenberg Crane Reserve)', '4': '2003-01-01', '5': '38.1576924', '6': '-121.44374009999999', '7': '15:00'}, {'0': 'sancra', '1': 'Sandhill Crane', '2': 'Antigone canadensis', '3': 'Woodbridge Ecological Reserve (Isenberg Crane Reserve)', '4': '2003-01-01', '5': '38.1576924', '6': '-121.44374009999999', '7': '15:00'}, {'0': 'killde', '1': 'Killdeer', '2': 'Charadrius vociferus', '3': 'Woodbridge Ecological Reserve (Isenberg Crane Reserve)', '4': '2003-01-01', '5': '38.1576924', '6': '-121.44374009999999', '7': '15:00'}, {'0': 'whimbr', '1': 'Whimbrel', '2': 'Numenius phaeopus', '3': 'Tijuana Slough NWR--visitor center & adjacent trails', '4': '2003-01-01', '5': '32.573362599999996', '6': '-117.1254904', '7': '15:00'}  ... displaying 10 of 987641 total bound parameter sets ...  {'0': 'crithr', '1': 'Crissal Thrasher', '2': 'Toxostoma crissale', '3': 'Shoshone-Tecopa Area', '4': '2013-12-31', '5': 35.8663, '6': -116.2712, '7': None}, {'0': 'robgro', '1': 'Rose-breasted Grosbeak', '2': 'Pheucticus ludovicianus', '3': 'Pacific Grove--Bayview Ave @ Cedar vicinity', '4': '2013-12-31', '5': 36.6247826, '6': -121.9232467, '7': None})]
(Background on this error at: http://sqlalche.me/e/14/f405)